.footer {
    background-color: #222;
    padding: 20px 40px;
    padding-bottom: 40px;
}

.float-left {
    float: left;
    text-align: left;
    vertical-align: center;
}

.float-right {
    float: right;
    text-align: right;
}

.navbar-inverse {
    margin-bottom: 0%;
}

.jumbotron {
    margin-bottom: 0%;
}